<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8" />
  <title>Student List</title>
  <link rel="stylesheet" href="/main.css" />
</head>
<body>
<h1>Subject List</h1>
<a href="addSubject">Add Subject</a>
<br/><br/>
<div>
  <table border="1">
    <tr>
      <th>Title</th>
      <th>Teacher</th>
      <th>Secondary Teacher</th>
    </tr>
    <tr th:each ="subject : ${subjects}">
      <td th:utext="${subject.title}">...</td>
      <td th:utext="${subject.Teacher}">...</td>
      <td th:utext="${subject.secondaryTeacher}">...</td>
      <td><a th:href="@{/showSubjectUpdateForm/{id}(id=${subject.id})}">Update</a>
          <a th:href="@{/deleteSubject/{id}(id=${subject.id})}">Delete</a></td>
    </tr>
  </table>
</div>
</body>
</html>